@import url('https://fonts.googleapis.com/css?family=Cagliostro|Courgette|Dosis|Lato');

/* CSS declarations go here */
@media screen and (max-width: 970px){
  .navbar {
    background-color: #2DE8C1;
    color: black;
  }
}

@media screen and (min-width: 971px){
  .navbar {
    background-color: #2DE8C1;
    height: 65px;
    color: black;
  }
}

.nav-link {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 47px;
}

.nav-link:hover {
  color: #227167;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 47px;
}

.active {
  background-color: #419987;
  text-align: center;
  height: 65px;
}

.navbar-brand {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
}

.dropdown-item {
  color: #8190A5;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

.top-middle {
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  color: #47525E;
  font-size: 23px;
  text-align: center;
}

.bottom-middle {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #8190A5;
  font-size: 14px;
  text-align: justify;
}

.h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: black;
}

.page-footer {
  background-color: #1c2331;
  max-width: 100%;
  color: #ffffff;
  font-family: 'Muli', sans-serif;
}

@media screen and (min-width: 771px){
  .align{
    text-align: justify;
    color: #ffffff;
  }
}

@media screen and (max-width: 770px){
  .align{
    text-align: center;
    color: #ffffff;
  }
}

.title {
  color: #ffffff;
}

.deep-purple1 {
  background-color: #6351ce;
  width:220px;
  margin-right: 100%;
}

.deep-purple2 {
  background-color: #6351ce;
  width: 90px;
  margin-right: 100%;
}

.deep-purple3 {
  background-color: #6351ce;
  width: 140px;
  margin-right: 100%;
}

.deep-purple4 {
  background-color: #6351ce;
  width: 130px;
  margin-right: 100%;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */


.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
@media screen and (min-width: 771px){
  .vertical {
    border: none;
    border-left: 1px solid #47525e;
    height: 240px;
  }
}

@media screen and (max-width: 770px){
  .vertical{
    width: 200px;
  }
}

.vertical2 {
  border: none;
  border-left: 1px solid #47525e;
  height: 400px;
}

.copyright {
  background-color: #161c27;
  text-align: center;
  font-family: 'Lato', sans-serif;
  height: 80px;
}

.stray {
  background-color: #E9EDED;
}

.report {
  text-align: center;
  font-weight: 400;
  color: #47525E;
}

.info {
  color: #3b2c9a;
  font-family: 'Lato', sans-serif;
  text-align: left;
}

.volunteer {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #47525E;
  font-weight: 400;
}

.care {
  text-align: justify;
}

.upload {
  border: medium solid #878aa7;
  padding: 20px;
}

.describe {
  text-align: center;
}

.holder {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 501px) {
  .signUpHere {
    position: absolute;
    font-family: 'Courgette', cursive;
    font-weight: 400;
    font-size: 14px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    max-width: 37%;
  }
}

@media screen and (max-width: 500px){
  .signUpHere{
    position: absolute;
    font-weight: 100;
    font-size: 1%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
  }

  .btn-outline-light{
    background: white;
    color: black;
  }
}

.btn-outline-primary{
  border-color: #046652;
  color: #046652;
}

.btn-outline-primary:hover{
  border-color: #2DE8C1;
  background-color: #007163;
  color: #00F1D1;
}

.adding{
  border-color: #2DE8C1;
  background-color: #2DE8C1;
  color: black;
}

.adding:hover{
  background-color: #00BEA5;
  border-color: #00BEA5;
}

.dash {
  background-color: #00BEA5;
  width:100%;
  height:9em;
}

.hello {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 180px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loading {
  font-family: 'Courgette', cursive;
}

#adopt {
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  width: 100%;
  font-family: 'Courgette', cursive;
}

.aboutUs {
  text-align: justify;
  font-family: 'Dosis', sans-serif;
  font-size: 22px;
}

.about-top {
  text-align: center;
  font-family: 'Cagliostro', sans-serif;
}
.pethom{
  position: absolute;
  top:350px;
  left: 0;
  width: 400px;
  height:400px;
}
.spc{
  position: relative;
  top:0;
}
.dets{
  color: #fff;

}
.ti{
  color: #fff;
}
.box{
 background: rgba(0,0,0,0.5);
 height: 300px;
 border-radius: 5%;
 top:10px;
 width: 400px;
 position:relative;
 }
 .dog{
 width:400px;
 height:300px;
 top:10px;
 border-radius: 5%;
 position: absolute;
}
