/* CSS declarations go here */
.navbar {
  background-color: #51E7F3;
}


.nav-link {
  color: #47525E;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 47px;
}

.active {
  background-color: #40A9BD;
  width: 100px;
  text-align: center;
}

.navbar-brand {
  color: #47525E;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
}

.dropdown-item {
  color: #8190A5;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

.top-middle {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #47525E;
  font-size: 23px;
  text-align: center;
}

.bottom-middle {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #8190A5;
  font-size: 14px;
  text-align: justify;
}

.h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #47525E;
}

.page-footer {
  background-color: #1c2331;
  height: 370px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}

.align {
  text-align: justify;
}

a {
  color: #ffffff;
}

.deep-purple1 {
  background-color: #6351ce;
  width:220px;
  margin-right: 100%;
}

.deep-purple2 {
  background-color: #6351ce;
  width: 90px;
  margin-right: 100%;
}

.deep-purple3 {
  background-color: #6351ce;
  width: 140px;
  margin-right: 100%;
}

.deep-purple4 {
  background-color: #6351ce;
  width: 130px;
  margin-right: 100%;
}

.vertical {
  border: none;
  border-left: 1px solid #47525e;
  /* background-color: ; */
  height: 240px;
  /* width: 1px; */
}

.copyright {
  background-color: #161c27;
  text-align: center;
  font-family: 'Lato', sans-serif;
  height: 80px;
}

.stray {
  background-color: #E9EDED;
}

.report {
  text-align: center;
  font-weight: 400;
  color: #47525E;
}
